<!-- <div class="comment_form">
  <%= form_for[@victim, @comment] do |f| %>
    <% if @victim.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@victim.errors.count, "error") %> prohibited this scrawl from being saved:</h2>

        <ul>
        <% @victim.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    
    
      <form class="victim_form", action="/victim/create", method="post">
        <div class="form_div">
          <h3> Add a Scrawl </h3>
          Love or hate? <input type="radio" class="input" name="victim[][good_or_bad]" value="Love"> 
          <input type="radio" class="input" name="victim[][good_or_bad]" value="Hate"> <br />
          Write your review: <input type="text" class="input" name="victim[][name]"> <br />
          gender: <input type="text" class="input" name="victim[][review]"> <br />
          
        </div>


        <div class="actions">
          <input type="submit" value="Save", class: "victim_create" %>
        </div>

      </form>
    
    
  <% end %>
</div> -->