%h1 The Good, the bad, the reviewed
%h3 Click on a Name to See a Person's Reviews!

%table
  %tr
    %th Name
    / %th Facebook url
    / %th Gender
    %th City
    

  - @victims.each do |victim|
    %tr
      %td= link_to victim.name, victim
      / %td= victim.facebook_url
      / %td= victim.gender
      %td= victim.city
      / %td= 'reviews.count' 
      / %td= link_to 'Edit', edit_victim_path(victim)
      / %td= link_to 'Destroy', victim, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Victim', new_victim_path
