.container
  
  .six.columns
    %h1.title Browse People
  .six.columns.offset-by-four
    %h3.find_your_person 
      =button_to "Add a Person", new_victim_path, :method => "get", :class => 'here'
  .sixteen.columns
    - @victims.each do |victim|
      .holder
        - @photo = victim.find_profile_photo
        %div.three.columns
          = link_to victim do
            .image= image_tag(@photo, :height => '100', :width => '100')
            .listname=victim.name
          

      / %td= link_to 'Edit', edit_victim_path(victim)
      / %td= link_to 'Destroy', victim, :method => :delete, :data => { :confirm => 'Are you sure?' }


