.container
  %h1.title The Good, the Bad, the Reviewed
  %h3.find_your_person
    Find your person below, or create a new person 
    =link_to "here.", new_victim_path, :class => 'here'
  %br
  %br
  %hr

    - @victims.each do |victim|
      .holder
        - @photo = victim.find_profile_photo
        %p
          .image= image_tag(@photo, :height => '50', :width => '50')
          .listname=link_to victim.name, victim
          %br

        / %td= link_to 'Edit', edit_victim_path(victim)
        / %td= link_to 'Destroy', victim, :method => :delete, :data => { :confirm => 'Are you sure?' }


