<div class="container"> 

    <div id="bigdiv" class="sixteen columns add-bottom">
      <center>
      <p class="quote">"Live in such a way that if someone spoke badly about you, no one would believe it." -Anonymous</p>
      </center>
    </div>
    <div class="start">
      <center>  
        <div class="getstarted"><h4> Get Started </h4></div>

          <a href="/victims">        
            <center><div class = "find"> <h5>Find people to review </h5> </div></center>
          </a>
          <a href = "/victims/new">
            <center><div class = "create"> <h5>Add a new person to review </h5> </div></center>
          </a>
      <center>

    </div>


    <div class="twelve columns add-bottom">
      
    </div>

    <div class="eight columns add-bottom">
      <center>
        <h3 class="what">What is Bathroom Stall?</h3>
        <p>Bathroom Stall lets you write about people you know.<br>
          So let the world know how awesome your people are... or aren't.<br> Use the top-right nav bar to get started reading or writing.
      </p></center>
    </div>
     
    <div class="eight columns add-bottom">
      <center><h3 class="what">What isn't Bathroom Stall?</h3>
        <p>BS isn't a place to post discriminatory or baseless comments<br> about people. Use a real bathroom stall for that!<br>Feel free to contact us with concerns.</p></center>
    </div>




    
 
</div>



<!-- 
/ # 

/ # OLD OLD PAGE

/ #  .home_title
/ #    %h3 Welcome to Bathroom Stall
  
/ #    %h5 People + Reviews

/ #  .tongue_in_cheek
/ #    %p "Live in such a way that if someone spoke badly about you no one would believe it." -Unknown




/ # / .crack_title
/ # /   %h3 Enough stalling, let's get cracking.
  
/ # /   .find_victims
/ # /     / search using https://rubygems.org/gems/sunspot
/ # /     = link_to 'Browse Reviewed People', victims_path
/ # /     /= link_to 'Browse Peeps to Review', victims_path
/ # /   .create_victims
/ # /     = link_to 'Write About Someone', new_victim_path
/ # /     /= link_to 'Review a New Peep', new_victim_path



/ # /   / Need to path to victims
/ # /   / Need to path to victim creation

/ # / #about
/ # /   %h3 What is Bathroom Stall?
/ # /   %p Bathroom Stall is an online platform for posting reviews about people you know.  -->
