// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main{
	margin-bottom: 0em;
}

.start{
	width: 57%;
	border-radius: 3px;
	height: 20em;
	box-shadow: 5px 7px 28px gray;
	border: 1px solid #05575a;
	background: #4ca2de;
	background: -moz-linear-gradient(left, #4ca2de 0%, #60abf8 56%, #7eb4ea 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #4ca2de), color-stop(56%, #60abf8), color-stop(100%, #7eb4ea));
	background: -webkit-linear-gradient(left, #4ca2de 0%, #60abf8 56%, #7eb4ea 100%);
	background: -o-linear-gradient(left, #4ca2de 0%, #60abf8 56%, #7eb4ea 100%);
	background: -ms-linear-gradient(left, #4ca2de 0%, #60abf8 56%, #7eb4ea 100%);
	background: linear-gradient(to right, #4ca2de 0%, #60abf8 56%, #7eb4ea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4ca2de', endColorstr='#7eb4ea',GradientType=1 );
	float: left;
	margin-left: 15em;
	margin-bottom: 3em;
	margin-top: 4em;
	-webkit-box-shadow: 0 0 14px gray;
	box-shadow: 0 0 30px gray;
	position:relative;
}

h3.find_your_person{
	font-family: verdana;
	font-size: 21px;
}

p.quote{
	font-family: crafty girls;
	font-size: 32px;
	line-height: 36px;
	color: #47626f;
	margin-bottom: 0px;
}

cite{
	color: rgb(29, 88, 84);
	font-size: 17px;
}

.getstarted{
	background-color: black;
	padding-bottom: 26px;
	border: 3px solid;
}

h4{
	padding-top: 24px;
	color: white;
	font-family: shadows into light;
	font-size: 49px;
	text-shadow: 1px 1px black;
}

.find{
	border: 1px solid rgb(5, 87, 90);
	width: 17em;
	border-radius: 7px;
	height: 57px;
	margin-left: 12.5em;
	margin-top: 1.5em;
	box-shadow: 1px 1px 1px #05575a;
	background: rgb(194,197,198); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(194,197,198,1) 0%, rgba(202,205,206,1) 64%, rgba(232,234,234,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(194,197,198,1)), color-stop(64%,rgba(202,205,206,1)), color-stop(100%,rgba(232,234,234,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(194,197,198,1) 0%,rgba(202,205,206,1) 64%,rgba(232,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(194,197,198,1) 0%,rgba(202,205,206,1) 64%,rgba(232,234,234,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(194,197,198,1) 0%,rgba(202,205,206,1) 64%,rgba(232,234,234,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(194,197,198,1) 0%,rgba(202,205,206,1) 64%,rgba(232,234,234,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2c5c6', endColorstr='#e8eaea',GradientType=1 ); /* IE6-9 */
	position: absolute;


}

.find:hover{
	opacity: 0.5;
	transition: 0.2s;

}



.create{
	border: 1px solid rgb(5, 87, 90);
	width: 17em;
	border-radius: 7px;
	height: 57px;
	margin-left: 12.5em;
	margin-top: 7em;
	box-shadow: 1px 1px 1px #05575a;
	background: rgb(194,197,198); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(194,197,198,1) 0%, rgba(202,205,206,1) 64%, rgba(232,234,234,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(194,197,198,1)), color-stop(64%,rgba(202,205,206,1)), color-stop(100%,rgba(232,234,234,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(194,197,198,1) 0%,rgba(202,205,206,1) 64%,rgba(232,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(194,197,198,1) 0%,rgba(202,205,206,1) 64%,rgba(232,234,234,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(194,197,198,1) 0%,rgba(202,205,206,1) 64%,rgba(232,234,234,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(194,197,198,1) 0%,rgba(202,205,206,1) 64%,rgba(232,234,234,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2c5c6', endColorstr='#e8eaea',GradientType=1 ); /* IE6-9 */
	position: absolute;

}

.create:hover{
	opacity: 0.5;
	transition: 0.2s;
}

h3.what{
	margin-top: 1em;
	font-size: 33px;
	line-height: 34px;
	margin-bottom: 8px;
}

h5{
	font-family: verdana;
	font-size: 1em;
	text-shadow: 0.5px 1px gray;
	margin: 1.2em;
}