// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main{
	margin-bottom: 7em;
}

.start{
	width: 60%;
	border-radius: 3px;
	height: 20em;
	box-shadow: 5px 7px 28px gray;
	border: 1px solid #05575a;
	background: rgb(76,162,222); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(76,162,222,1) 0%, rgba(96,171,248,1) 56%, rgba(126,180,234,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(76,162,222,1)), color-stop(56%,rgba(96,171,248,1)), color-stop(100%,rgba(126,180,234,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(76,162,222,1) 0%,rgba(96,171,248,1) 56%,rgba(126,180,234,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(76,162,222,1) 0%,rgba(96,171,248,1) 56%,rgba(126,180,234,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(76,162,222,1) 0%,rgba(96,171,248,1) 56%,rgba(126,180,234,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(76,162,222,1) 0%,rgba(96,171,248,1) 56%,rgba(126,180,234,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ca2de', endColorstr='#7eb4ea',GradientType=1 ); /* IE6-9 */

	float: left;
	margin-left: 15em;
	margin-bottom: 3em;
	margin-top: 4em;
	-webkit-box-shadow: 0 0 14px gray;
	box-shadow: 0 0 30px gray;


}

h3{
	font-family: shadows into light;
	font-size: 32px;
}

p.quote{
	font-family: crafty girls;
	font-size: 32px;
	line-height: 36px;
	color: #47626f;
	margin-bottom: 0px;
}

cite{
	color: rgb(29, 88, 84);
	font-size: 17px;
}

.getstarted{
	background-color: black;
	padding-bottom: 26px;
	border: 3px solid;
}

h4{
	padding-top: 24px;
	color: white;
	font-family: shadows into light;
	font-size: 49px;
	text-shadow: 1px 1px black;
}

.find{
	border: 1px solid rgb(5, 87, 90);
	width: 48%%;
	border-radius: 7px;
	height: 57px;
	margin-left: 0em;
	margin-top: 1.5em;
	box-shadow: 1px 1px 1px #05575a;
	background: rgb(194,197,198); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(194,197,198,1) 0%, rgba(202,205,206,1) 64%, rgba(232,234,234,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(194,197,198,1)), color-stop(64%,rgba(202,205,206,1)), color-stop(100%,rgba(232,234,234,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(194,197,198,1) 0%,rgba(202,205,206,1) 64%,rgba(232,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(194,197,198,1) 0%,rgba(202,205,206,1) 64%,rgba(232,234,234,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(194,197,198,1) 0%,rgba(202,205,206,1) 64%,rgba(232,234,234,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(194,197,198,1) 0%,rgba(202,205,206,1) 64%,rgba(232,234,234,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2c5c6', endColorstr='#e8eaea',GradientType=1 ); /* IE6-9 */


}

.create{
	border: 1px solid rgb(5, 87, 90);
	width: 48%;
	border-radius: 7px;
	height: 57px;
	margin-left: 0em;
	margin-top: 1em;
	box-shadow: 1px 1px 1px #05575a;
	background: rgb(194,197,198); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(194,197,198,1) 0%, rgba(202,205,206,1) 64%, rgba(232,234,234,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(194,197,198,1)), color-stop(64%,rgba(202,205,206,1)), color-stop(100%,rgba(232,234,234,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(194,197,198,1) 0%,rgba(202,205,206,1) 64%,rgba(232,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(194,197,198,1) 0%,rgba(202,205,206,1) 64%,rgba(232,234,234,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(194,197,198,1) 0%,rgba(202,205,206,1) 64%,rgba(232,234,234,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(194,197,198,1) 0%,rgba(202,205,206,1) 64%,rgba(232,234,234,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2c5c6', endColorstr='#e8eaea',GradientType=1 ); /* IE6-9 */


}

h3{
	margin-top: 1em;
	font-size: 33px;
	line-height: 34px;
	margin-bottom: 8px;
}

h5{
	margin-top: 15px;
	font-family: verdana;
	font-size: 1.3em;
	text-shadow: 0.5px 1px gray;
}