/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }

*/

body{
	background: rgb(237,236,234); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(237,236,234,1) 0%, rgba(237,236,234,1) 49%, rgba(252,251,249,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(237,236,234,1)), color-stop(49%,rgba(237,236,234,1)), color-stop(100%,rgba(252,251,249,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(237,236,234,1) 0%,rgba(237,236,234,1) 49%,rgba(252,251,249,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(237,236,234,1) 0%,rgba(237,236,234,1) 49%,rgba(252,251,249,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(237,236,234,1) 0%,rgba(237,236,234,1) 49%,rgba(252,251,249,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(237,236,234,1) 0%,rgba(237,236,234,1) 49%,rgba(252,251,249,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edecea', endColorstr='#fcfbf9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.navigation{
	font-family: 'Rock Salt', cursive;
	text-decoration: none;
	padding: 1em;
	margin-bottom: 1em;
	height: 6em;
	box-shadow: 0px 1px 1px gray;
	border-radius: 2px;
	background: rgb(0,0,0); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(37,40,12,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(37,40,12,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(37,40,12,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(37,40,12,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(37,40,12,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(37,40,12,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#25280c',GradientType=0 ); /* IE6-9 */

};




.navigation:visited{
	text-decoration: none;
}



p.tag {
	padding-left: 130px;
	color: rgb(199, 187, 147);
}

p.nav{
	color: rgb(199, 187, 147)
}

a.smallbrand{
	color:rgb(199, 187, 147);
}

a.user{
	color: rgb(199, 187, 147);
	font-weight: bold;
}

div.credentials{
	float: right;
}

a.brand{
	text-decoration: none;
	font-size: 3em;
	padding-top: 0.5em;
	color: #4CA2DE;
}

a.smallbrand{
	font-family: 'Rock Salt';
	font-size: .8em;
}

a:visited{
	text-decoration: none;
}

a.brand:visited{
	text-decoration: none;
}

#footer    {
	position: relative;
  width: 98%;
  font-size: 11px;
  text-align: center; 
  padding: 20px 10px;
  letter-spacing: 0.09em;
  background-color: black;
}

#footer p{
	color: rgb(199, 187, 147);
	
}

#bigdiv {
	padding-top: 50px;
}

