// Place all the styles related to the victims controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.victim_name {
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 10px;
	display:inline-block;
	margin-top: 0;
}

#main{
  min-height: 80px;
}

.img_tag {
	float:right;
}

.edit_options {
}

.text_area {
	width:100%
}

.good_or_bad {
	display:inline;
}

.anonymous_or_not {
	display:inline;
}

/* ref to read and write pages*/

.title {
  font-weight: bold;
  font-size: 40px;
}

.listname {
  font-weight: bold;
  font-size: 40px;
  vertical-align: middle;
  float: left;
  margin-left: 20px;
}

.image {
  vertical-align: middle;
  float: left;
}

.holder {
  line-height: 50px;
}

div.review_container{
  border: 1px solid rgb(151, 115, 22);
  border-radius: 4px;
  padding: 1em;
  margin-bottom: 3em;
  margin-top: 1em;
  box-shadow: 1px 1px 1px gray;
  background-color: white;
}